---
import Layout from '../../../layouts/Layout.astro';
import Navigation from '../../../components/Navigation.astro';
import * as postRepository from '../../../repositories/posts.astro';

export async function getStaticPaths() {
    const posts = await postRepository.all();

    return posts.map(post => {
        return {
            params: { 
                created_at: post.created_at,
                 slug: post.slug 
            },
            props: {
                post
            },
        };
    });
}

const { created_at, slug } = Astro.params;
const { post } = Astro.props;
const { frontmatter, Content } = post;
---

<Layout title={frontmatter.title}>
    <Navigation />
    <main class="prose lg:prose-xl mx-4 my-12">
        <h1 class="text-4xl font-bold text-center my-8 mb-16">{frontmatter.title}</h1>
        <section class="pb-4">
            <Content />
        </section>
    </main>
</Layout>
