---
import Layout from "../../../layouts/Layout.astro";
import Navigation from "../../../components/Navigation.astro";
import * as CustomImage from "../../../components/Image.astro";
import * as postRepository from "../../../repositories/posts.astro";

import { Icon } from "astro-icon";

export async function getStaticPaths() {
  const posts = await postRepository.all();

  return posts.map((post) => {
    return {
      params: {
        created_at: post.created_at,
        slug: post.slug,
      },
      props: {
        post,
      },
    };
  });
}

const { created_at, slug } = Astro.params;
const { post } = Astro.props;
const { frontmatter } = post;

const content = post.compiledContent();
const Content = post.Content;
---

<Layout title={frontmatter.title}>
  <Navigation />
  <main class="prose lg:prose-xl mx-4 my-12">
    <h1 class="text-4xl font-bold text-center my-8">{frontmatter.title}</h1>
    <div class="flex justify-center items-center mb-16">
      <Icon class="inline mr-1" pack="codicon" name="calendar" size={16} />
      <span>{post.created_at}</span>
    </div>
    <section>
      <Content />
    </section>
  </main>
  <hr />
  <section>
    <script
      is:inline
      src="https://giscus.app/client.js"
      data-repo="eowiz/eowiz.github.io"
      data-repo-id="R_kgDOIvsIcw"
      data-category="Announcements"
      data-category-id="DIC_kwDOIvsIc84CTn2Z"
      data-mapping="title"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="preferred_color_scheme"
      data-lang="ja"
      data-loading="lazy"
      crossorigin="anonymous"
      async
    ></script>
  </section>
</Layout>
