---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';

const pageTitle = "Home";
---

<Layout title={pageTitle}>
	<main class="flex-col">
		<Navigation />
		<h1 class="text-4xl font-bold text-center my-8">{pageTitle}</h1>
	</main>
</Layout>