---
const navigation = [
    { title: 'Home', url: '/' },
    { title: 'Blog', url: '/blog/' },
    { title: 'About', url: '/about/' },
];
---

<nav class="px-4 py-6">
    <ol class="flex gap-10 font-bold">
    {navigation.map(nav => 
        <li class="inline hover:underline hover:decoration-2 hover:underline-offset-2"><a href={nav.url}>{nav.title}</a></li>
    )}
    </ol>
</nav>
