---
import Footer from "../components/Footer.astro";
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
import Navigation from "../components/Navigation.astro";

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <GoogleAnalytics />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <meta name="generator" content={Astro.generator} />
    <meta name="rating" content="General" />
    <meta
      name="google-site-verification"
      content="JTBFlUsvehnt0ZF-Upbg7uE1WEULFbpYsb48XBRZnzY"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Source+Code+Pro&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="flex align-center min-h-screen max-w-4xl mx-auto">
    <div class="min-h-screen lg:min-w-48 lg:w-48 lg:border-r"></div>
    <div class="flex flex-col max-w-2xl w-screen px-4 mx-auto lg:mx-none">
      <Navigation />
      <main class="pt-8">
        <slot />
      </main>
      <Footer />
    </div>
    <style is:global>
      html {
        font-family: "Noto Serif JP", serif;
        /* font-family: 'M PLUS Rounded 1c', sans-serif; */
        font-size: calc(min(max(2vw, 14px), 16px));
      }

      pre, code, kbd {
        font-family: 'Source Code Pro', monospace;
      }

      code {
        color: rgb(236 72 153);
      }
    </style>
  </body>
</html>
